*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
}
/* ==================================================================== */

.personal-info input {
    max-width: 600px;
}

.personal-info label{
    margin-bottom: 0 !important;
}

.personal-info .form-group{
    margin-bottom: 0 !important;
}

.personal-info > .col > .row {
    margin-bottom: 15px;
}

.title-label{
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.title-label > label, .title-course{
    font-weight: 700;
}

.birthday select {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    padding: 5px 10px;
}

/* ================== Course =================== */
.list-courses .wrapper{
    display: inline-block;
}

.custom-button{
    color: #000;
    background-image: linear-gradient(#fff, #e0e0eb);
    display: block;
    border: 1px solid #c1c1d7;
    border-radius: 3px;
    outline: 0;

    margin: 0 auto 10px auto;

    min-width: 60px;
    padding: 5px 15px;
}

.list-courses .course-buttons{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.course-buttons .custom-button:last-child{
    margin-bottom: 0;
}


.control-button.custom-button{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}

.control-buttons .custom-button:last-child{
    margin-right: 0;
}

#available-courses, #selected-courses{
    min-width: 400px;
    min-height: 200px;

    padding: 15px;
    border-radius: 3px;

    /* margin-right: -20px; */
}

/* only on webkit */
.list-courses select::-webkit-scrollbar{
    width:1px;
    background-color:transparent
}

/* popup view detail */

#view-detail{
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    
    min-width: 400px;
    height: auto;
    z-index: 10000;

    border: 1px solid #ccc;
    border-radius: 5px;
    /* box-shadow: 0 0 12px 2px #ccc; */
}


#view-detail > div{
    padding: 20px;
}

#view-detail > div.wrapper{
    border-bottom: 1px solid #ccc;
}

#view-detail  div.registed-courses{
    margin-left: 30px;
}

#view-detail p{
    margin-bottom: 0;
}

.dim-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    opacity: .4;
    z-index: 1000;
    font-size: 0;
}